.customNode {
  background: #fff;
  border: 1px solid #1a192b;
  border-radius: 2px;
  padding: 10px;
  font-size: 12px;
  text-align: center;
}

.customNode.selected {
  border: 1px solid #007bff; 
  box-shadow: 0 0 0 1px #007bff; 
}

.input {
  width: 100%;
  padding: 4px 8px;
  border: 1px solid #ddd;
  border-radius: 2px;
}

.label {
  padding: 4px 8px;
}
