.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  text-align: center;
}

.message {
  color: white;
  font-size: 2em;
  padding: 1.25rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.625rem;
}

.blinkingText {
  animation: blink 1.5s linear infinite;
}

.quoteText {
  color: #ccc;
  font-size: 1em;
  margin-top: 1rem;
  font-style: italic;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}