.statusIndicator {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.connected {
  background-color: #4caf50; /* Green */
  box-shadow: 0 0 0.5rem #4caf50;
}

.disconnected {
  background-color: #f44336; /* Red */
  box-shadow: 0 0 0.5rem #f44336;
}
