.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem 0 0.5rem;
  border-bottom: 0.125rem solid var(--border-color);
  display: flex;
  align-items: center;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.rightSection {
  display: flex;
  align-items: center;
}

.teamInfo {
  font-style: italic;
  cursor: pointer;
  color: var(--text-primary);
  margin: 0;
}

.title {
  color: var(--text-primary);
  margin: 0;
}

.logo {
  width: 1.5rem;
  height: 1.5rem;
}

.darkTheme {
  filter: invert(1);
}

.menuButton {
  display: none;
  background: transparent;
  border: none;
  color: var(--text-primary);
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .menuButton {
    display: block;
  }
  .teamInfo {
    font-size: smaller;
  }
}
