.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title {
  color: var(--text-primary);
  margin: 0;
}

.logo {
  width: 1.5rem;
  height: 1.5rem;
}

.darkThemeLogo {
  filter: invert(1);
}

.darkThemeMenuButton {
  filter: invert(1);
}

.menuButton {
  display: none;
  background: transparent;
  border: none;
  color: var(--text-primary);
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .menuButton {
    display: block;
  }
}
