.modalOverride {
  z-index: 1050 !important;
}
.form {
  margin-top: 20px;
}
.cancelButton {
  margin-left: 8px;
}
.buttonGroup {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.deleteForm {
  margin-top: 15px;
}
